/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.help {
    margin: auto;
    margin-top: 10px;
    width: 150px;
    height: 30px;
    color: white;
    text-align: center;
    padding-top: 6px;
    border: 1px solid black;
}

.skillshelp {

}

.blue {background-color: #279FB0;}
.orange {background-color: #d97e23;}
.container {
    width: 500px;
    background-color: #8f8c89;
    margin-left: 200px;
    line-height: 40px;
    color: white;
    text-indent: 20px;
    margin: auto;
    border-right: solid 2px black;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    border-radius: 0px 10px 10px 0;
}

.skills:hover {
  -webkit-transform: scale(1.05);
  -ms-ransform: scale(1.05);
  transform: scale(1.05);
  transition: .5s;
  line-height: 40px;

}

.skills {
    text-align: right;
    padding-right: 20px;
    line-height: 40px;
    color: white;
    background-color: #279FB0;
}

.html {width: 47%;}
.css {width: 43%;}
.photoshop {width: 90%;}
.photography {width: 90%;}
.english {width: 70%;}
.creation {width: 95%;}
.js {width: 70%; background-color: #d97e23;}
.ruby {width: 63%; background-color: #d97e23;}
.futurehtml {width: 95%;}
.futurecss {width: 99%;}
.futurephotoshop {width: 80%;}
.futurephotography {width: 70%;}
.futureenglish {width: 60%;}
.futurecreation {width: 80%;}

.future {
    background-color: #d97e23;
}

.radius {
    width: 232px;
    height: 464px;
    border-radius: 350px 0px 0px 350px;
    background: #279FB0;
    float: left;
    border-left: solid 2px black;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}

.title {
    color: black;
    margin: auto;
}

body {
    font-family: arial;
    margin: auto;
    max-width: 1000px;
    background-color: #403f3e;
}

H1, H2 {
    text-align: center;
    color: white;
    margin-bottom: -30px;
}

H2 {
    margin-bottom: 30px;
    font-size: 32.7px;
}

