/* body */
body {
  position: relative;
  margin: auto;
  max-width: 1000px;
  font-family: "arial";
  background-color: #403f3e;
}

/* Подсказки */
h1,
h2 {
  margin-bottom: -30px;
  text-align: center;
  color: #fff;
}

h2 {
  margin-bottom: 30px;
  font-size: 32.7px;
}

.help {
  margin: auto;
  margin-top: 10px;
  border: 1px solid rgb(0, 0, 0);
  padding-top: 6px;
  width: 150px;
  height: 30px;
  text-align: center;
  color: #fff;
}

.blue {
  background-color: #279fb0;
}

.orange {
  background-color: #d97e23;
}

/* отступ осьминога от шапки */
.octopus {
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-top: 40px;
  width: 80%;
  height: 436px;
}

/* Голова */
.head {
  width: 30%;
  max-height: 432px;
}

.head__radius {
  position: relative;
  border-top: solid 2px rgb(0, 0, 0);
  border-bottom: solid 2px rgb(0, 0, 0);
  border-left: solid 2px rgb(0, 0, 0);
  border-radius: 350px 0 0 350px;
  width: 100%;
  height: 100%;
  background: #279fb0;
}

/* глаза */
.head__eye_left {
  margin-top: 140px;
  margin-left: auto;
  border: solid 2px rgb(0, 0, 0);
  border-radius: 50px;
  height: 50px;
  max-width: 50px;
  background-color: #fff;
}

.head__eye_right {
  margin-left: auto;
  border: solid 2px rgb(0, 0, 0);
  border-radius: 50px;
  height: 70px;
  max-width: 70px;
  background-color: #fff;
}

.head__pupil_left {
  margin-top: 12px;
  margin-left: 12px;
  border: solid 5px #d97e23;
  border-radius: 30px;
  height: 25px;
  max-width: 25px;
  background-color: rgb(0, 0, 0);
}

.head__pupil_right {
  margin-top: 4px;
  margin-left: 22px;
  border: solid 5px #d97e23;
  border-radius: 30px;
  height: 30px;
  max-width: 30px;
  background-color: rgb(0, 0, 0);
}

/* Щюпальца */
.skill {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 66%;
  min-height: 436px;
}

.skill__container {
  border-top: solid 2px rgb(0, 0, 0);
  border-right: solid 2px rgb(0, 0, 0);
  border-bottom: solid 2px rgb(0, 0, 0);
  border-radius: 0 10px 10px 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-indent: 20px;
  color: #fff;
}

.skill__container_html {
  background: linear-gradient(90deg, rgba(39, 159, 176, 1) 47%, rgba(217, 126, 35, 1) 47%, rgba(217, 126, 35, 1) 85%, rgb(115, 115, 115, 1) 85%);
}

.skill__container_css {
  background: linear-gradient(90deg, rgba(39, 159, 176, 1) 43%, rgba(217, 126, 35, 1) 43%, rgba(217, 126, 35, 1) 90%, rgba(115, 115, 115, 1) 90%);
}

.skill__container_ps {
  background: linear-gradient(90deg, rgba(39, 159, 176, 1) 65%, rgba(217, 126, 35, 1) 65%, rgba(217, 126, 35, 1) 75%, rgba(115, 115, 115, 1) 75%);
}

.skill__container_ph {
  background: linear-gradient(90deg, rgba(39, 159, 176, 1) 60%, rgba(217, 126, 35, 1) 60%, rgba(217, 126, 35, 1) 70%, rgba(115, 115, 115, 1) 70%);
}

.skill__container_en {
  background: linear-gradient(90deg, rgba(39, 159, 176, 1) 35%, rgba(217, 126, 35, 1) 35%, rgba(217, 126, 35, 1) 50%, rgba(115, 115, 115, 1) 50%);
}

.skill__container_creation {
  background: linear-gradient(90deg, rgba(39, 159, 176, 1) 67%, rgba(217, 126, 35, 1) 67%, rgba(217, 126, 35, 1) 80%, rgba(115, 115, 115, 1) 80%);
}

.skill__container_js {
  background: linear-gradient(90deg, rgba(217, 126, 35, 1) 0%, rgba(217, 126, 35, 1) 30%, rgba(115, 115, 115, 1) 30%);
}

.skill__container_ruby {
  background: linear-gradient(90deg, rgba(217, 126, 35, 1) 0%, rgba(217, 126, 35, 1) 25%, rgba(115, 115, 115, 1) 25%);
}

/* Скилы, Скрытый текст Html */
.invisible {
  display: none;
  text-align: center;
  color: #fff;
}

/* Анимация при наведении */
.skill__container:hover {
  transform: scale(1.05);
  transition: 0.5s;
}